<template>
  <require from="./cookies-and-more.scss"></require>
  <section class="cookies-and-more">
    <div class="cookies-and-more__content">
      <h1 class="h1 cookies-and-more__header">C is for cookie.</h1>
      <div class="cookies-and-more__text-wrapper">
        <div class="cookies-and-more__text">
          <p class="cookies-and-more__paragraph">
            This page uses exactly zero cookies. Null. None. However, if we one day should add one
            or two, this is the place where we would write which ones and why.
          </p>
        </div>
        <figure class="cookies-and-more__illustration">
          <img
            class="cookies-and-more__illustration-image"
            src="/images/undraw_tasting.svg"
            alt="Cupcake which isn't a cookie"
          />
        </figure>
      </div>
    </div>
  </section>
</template>
